<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyfly.milet.common.mapper.DynamicDiscountRuleMapper">
  <resultMap id="BaseResultMap" type="com.hyfly.milet.common.entity.DynamicDiscountRule">
    <!--@mbg.generated-->
    <!--@Table t_dynamic_discount_rule-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="car_level" jdbcType="VARCHAR" property="carLevel" />
    <result column="time_set" jdbcType="VARCHAR" property="timeSet" />
    <result column="date_type" jdbcType="INTEGER" property="dateType" />
    <result column="week_set" jdbcType="VARCHAR" property="weekSet" />
    <result column="special_date_set" jdbcType="VARCHAR" property="specialDateSet" />
    <result column="discount_max_price" jdbcType="DOUBLE" property="discountMaxPrice" />
    <result column="valid_start_time" jdbcType="TIMESTAMP" property="validStartTime" />
    <result column="valid_end_time" jdbcType="TIMESTAMP" property="validEndTime" />
    <result column="is_unuse" jdbcType="INTEGER" property="isUnuse" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, service_type, car_level, time_set, date_type, week_set, special_date_set, discount_max_price, 
    valid_start_time, valid_end_time, is_unuse, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_dynamic_discount_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_dynamic_discount_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.DynamicDiscountRule" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_dynamic_discount_rule (service_type, car_level, time_set, 
      date_type, week_set, special_date_set, 
      discount_max_price, valid_start_time, valid_end_time, 
      is_unuse, create_time, update_time
      )
    values (#{serviceType,jdbcType=VARCHAR}, #{carLevel,jdbcType=VARCHAR}, #{timeSet,jdbcType=VARCHAR}, 
      #{dateType,jdbcType=INTEGER}, #{weekSet,jdbcType=VARCHAR}, #{specialDateSet,jdbcType=VARCHAR}, 
      #{discountMaxPrice,jdbcType=DOUBLE}, #{validStartTime,jdbcType=TIMESTAMP}, #{validEndTime,jdbcType=TIMESTAMP}, 
      #{isUnuse,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.DynamicDiscountRule" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_dynamic_discount_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serviceType != null">
        service_type,
      </if>
      <if test="carLevel != null">
        car_level,
      </if>
      <if test="timeSet != null">
        time_set,
      </if>
      <if test="dateType != null">
        date_type,
      </if>
      <if test="weekSet != null">
        week_set,
      </if>
      <if test="specialDateSet != null">
        special_date_set,
      </if>
      <if test="discountMaxPrice != null">
        discount_max_price,
      </if>
      <if test="validStartTime != null">
        valid_start_time,
      </if>
      <if test="validEndTime != null">
        valid_end_time,
      </if>
      <if test="isUnuse != null">
        is_unuse,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serviceType != null">
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="carLevel != null">
        #{carLevel,jdbcType=VARCHAR},
      </if>
      <if test="timeSet != null">
        #{timeSet,jdbcType=VARCHAR},
      </if>
      <if test="dateType != null">
        #{dateType,jdbcType=INTEGER},
      </if>
      <if test="weekSet != null">
        #{weekSet,jdbcType=VARCHAR},
      </if>
      <if test="specialDateSet != null">
        #{specialDateSet,jdbcType=VARCHAR},
      </if>
      <if test="discountMaxPrice != null">
        #{discountMaxPrice,jdbcType=DOUBLE},
      </if>
      <if test="validStartTime != null">
        #{validStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndTime != null">
        #{validEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUnuse != null">
        #{isUnuse,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyfly.milet.common.entity.DynamicDiscountRule">
    <!--@mbg.generated-->
    update t_dynamic_discount_rule
    <set>
      <if test="serviceType != null">
        service_type = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="carLevel != null">
        car_level = #{carLevel,jdbcType=VARCHAR},
      </if>
      <if test="timeSet != null">
        time_set = #{timeSet,jdbcType=VARCHAR},
      </if>
      <if test="dateType != null">
        date_type = #{dateType,jdbcType=INTEGER},
      </if>
      <if test="weekSet != null">
        week_set = #{weekSet,jdbcType=VARCHAR},
      </if>
      <if test="specialDateSet != null">
        special_date_set = #{specialDateSet,jdbcType=VARCHAR},
      </if>
      <if test="discountMaxPrice != null">
        discount_max_price = #{discountMaxPrice,jdbcType=DOUBLE},
      </if>
      <if test="validStartTime != null">
        valid_start_time = #{validStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validEndTime != null">
        valid_end_time = #{validEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isUnuse != null">
        is_unuse = #{isUnuse,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyfly.milet.common.entity.DynamicDiscountRule">
    <!--@mbg.generated-->
    update t_dynamic_discount_rule
    set service_type = #{serviceType,jdbcType=VARCHAR},
      car_level = #{carLevel,jdbcType=VARCHAR},
      time_set = #{timeSet,jdbcType=VARCHAR},
      date_type = #{dateType,jdbcType=INTEGER},
      week_set = #{weekSet,jdbcType=VARCHAR},
      special_date_set = #{specialDateSet,jdbcType=VARCHAR},
      discount_max_price = #{discountMaxPrice,jdbcType=DOUBLE},
      valid_start_time = #{validStartTime,jdbcType=TIMESTAMP},
      valid_end_time = #{validEndTime,jdbcType=TIMESTAMP},
      is_unuse = #{isUnuse,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>