<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyfly.milet.common.mapper.PassengerMessageMapper">
  <resultMap id="BaseResultMap" type="com.hyfly.milet.common.entity.PassengerMessage">
    <!--@mbg.generated-->
    <!--@Table t_passenger_message-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="passenger_info_id" jdbcType="INTEGER" property="passengerInfoId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="if_success" jdbcType="TINYINT" property="ifSuccess" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, passenger_info_id, content, if_success, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_passenger_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_passenger_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PassengerMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_passenger_message (passenger_info_id, content, if_success, 
      create_time, update_time)
    values (#{passengerInfoId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{ifSuccess,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PassengerMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_passenger_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="passengerInfoId != null">
        passenger_info_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="ifSuccess != null">
        if_success,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="passengerInfoId != null">
        #{passengerInfoId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ifSuccess != null">
        #{ifSuccess,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyfly.milet.common.entity.PassengerMessage">
    <!--@mbg.generated-->
    update t_passenger_message
    <set>
      <if test="passengerInfoId != null">
        passenger_info_id = #{passengerInfoId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ifSuccess != null">
        if_success = #{ifSuccess,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyfly.milet.common.entity.PassengerMessage">
    <!--@mbg.generated-->
    update t_passenger_message
    set passenger_info_id = #{passengerInfoId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      if_success = #{ifSuccess,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>