<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyfly.milet.common.mapper.PhoneMessageMapper">
  <resultMap id="BaseResultMap" type="com.hyfly.milet.common.entity.PhoneMessage">
    <!--@mbg.generated-->
    <!--@Table t_phone_message-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="sms_content" jdbcType="VARCHAR" property="smsContent" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="push_type" jdbcType="BOOLEAN" property="pushType" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, phone_number, sms_content, send_time, push_type, `status`, `operator`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_phone_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_phone_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PhoneMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_phone_message (phone_number, sms_content, send_time, 
      push_type, `status`, `operator`, 
      create_time)
    values (#{phoneNumber,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{pushType,jdbcType=BOOLEAN}, #{status,jdbcType=BOOLEAN}, #{operator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PhoneMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_phone_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="smsContent != null">
        sms_content,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="pushType != null">
        push_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushType != null">
        #{pushType,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyfly.milet.common.entity.PhoneMessage">
    <!--@mbg.generated-->
    update t_phone_message
    <set>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        sms_content = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushType != null">
        push_type = #{pushType,jdbcType=BOOLEAN},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyfly.milet.common.entity.PhoneMessage">
    <!--@mbg.generated-->
    update t_phone_message
    set phone_number = #{phoneNumber,jdbcType=VARCHAR},
      sms_content = #{smsContent,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      push_type = #{pushType,jdbcType=BOOLEAN},
      `status` = #{status,jdbcType=BOOLEAN},
      `operator` = #{operator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>