<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyfly.milet.common.mapper.PushAppMessageMapper">
  <resultMap id="BaseResultMap" type="com.hyfly.milet.common.entity.PushAppMessage">
    <!--@mbg.generated-->
    <!--@Table t_push_app_message-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yid" jdbcType="VARCHAR" property="yid" />
    <result column="accept_identity" jdbcType="BOOLEAN" property="acceptIdentity" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="push_type" jdbcType="TINYINT" property="pushType" />
    <result column="sms_send_app_id" jdbcType="INTEGER" property="smsSendAppId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, yid, accept_identity, title, content, send_time, `status`, push_type, sms_send_app_id, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_push_app_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_push_app_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PushAppMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_push_app_message (yid, accept_identity, title, 
      content, send_time, `status`, 
      push_type, sms_send_app_id, create_time
      )
    values (#{yid,jdbcType=VARCHAR}, #{acceptIdentity,jdbcType=BOOLEAN}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BOOLEAN}, 
      #{pushType,jdbcType=TINYINT}, #{smsSendAppId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.PushAppMessage" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_push_app_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yid != null">
        yid,
      </if>
      <if test="acceptIdentity != null">
        accept_identity,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="pushType != null">
        push_type,
      </if>
      <if test="smsSendAppId != null">
        sms_send_app_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yid != null">
        #{yid,jdbcType=VARCHAR},
      </if>
      <if test="acceptIdentity != null">
        #{acceptIdentity,jdbcType=BOOLEAN},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="pushType != null">
        #{pushType,jdbcType=TINYINT},
      </if>
      <if test="smsSendAppId != null">
        #{smsSendAppId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyfly.milet.common.entity.PushAppMessage">
    <!--@mbg.generated-->
    update t_push_app_message
    <set>
      <if test="yid != null">
        yid = #{yid,jdbcType=VARCHAR},
      </if>
      <if test="acceptIdentity != null">
        accept_identity = #{acceptIdentity,jdbcType=BOOLEAN},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="pushType != null">
        push_type = #{pushType,jdbcType=TINYINT},
      </if>
      <if test="smsSendAppId != null">
        sms_send_app_id = #{smsSendAppId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyfly.milet.common.entity.PushAppMessage">
    <!--@mbg.generated-->
    update t_push_app_message
    set yid = #{yid,jdbcType=VARCHAR},
      accept_identity = #{acceptIdentity,jdbcType=BOOLEAN},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=BOOLEAN},
      push_type = #{pushType,jdbcType=TINYINT},
      sms_send_app_id = #{smsSendAppId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>