<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyfly.milet.common.mapper.SysConfigMapper">
  <resultMap id="BaseResultMap" type="com.hyfly.milet.common.entity.SysConfig">
    <!--@mbg.generated-->
    <!--@Table t_sys_config-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="conf_key" jdbcType="VARCHAR" property="confKey" />
    <result column="conf_val" jdbcType="VARCHAR" property="confVal" />
    <result column="conf_name" jdbcType="VARCHAR" property="confName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, conf_key, conf_val, conf_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_sys_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_sys_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.SysConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_sys_config (conf_key, conf_val, conf_name
      )
    values (#{confKey,jdbcType=VARCHAR}, #{confVal,jdbcType=VARCHAR}, #{confName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hyfly.milet.common.entity.SysConfig" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_sys_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="confKey != null">
        conf_key,
      </if>
      <if test="confVal != null">
        conf_val,
      </if>
      <if test="confName != null">
        conf_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="confKey != null">
        #{confKey,jdbcType=VARCHAR},
      </if>
      <if test="confVal != null">
        #{confVal,jdbcType=VARCHAR},
      </if>
      <if test="confName != null">
        #{confName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyfly.milet.common.entity.SysConfig">
    <!--@mbg.generated-->
    update t_sys_config
    <set>
      <if test="confKey != null">
        conf_key = #{confKey,jdbcType=VARCHAR},
      </if>
      <if test="confVal != null">
        conf_val = #{confVal,jdbcType=VARCHAR},
      </if>
      <if test="confName != null">
        conf_name = #{confName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyfly.milet.common.entity.SysConfig">
    <!--@mbg.generated-->
    update t_sys_config
    set conf_key = #{confKey,jdbcType=VARCHAR},
      conf_val = #{confVal,jdbcType=VARCHAR},
      conf_name = #{confName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>